services:
  - type: web
    name: y-websocket-server
    env: go
    plan: free
    rootDir: server
    buildCommand: go mod download && go build -o server
    startCommand: ./server
    envVars:
      - key: PORT
        value: 10000
      - key: WS_SECRET
        value: CHANGE_ME_42 # Set this to your secret value (must match GitHub secret WS_SECRET)

